/*============= RESET STYLE =============
FONTS:
Body: font-family: 'Nunito Sans', sans-serif;
Nav: font-family: 'Fjalla One', sans-serif;
*/

/*-- iPhone X Remove Gutters
Ignore W3C Validation error for this style. --*/
.center-btn {
   float: center;
}
.social-lrg {
   display: flex;
   list-style-type: none;
   align-items: center;
   margin: 0px;
   padding: 0px;
}
ul.social-lrg li {
   padding-bottom: .5rem;
   margin: 15px;
   max-width: 8rem;
   justify-content: center;
}
.colorContainer {
   background-color: lightgray;
}
html {
   padding: env(safe-area-inset);
}

/*-- Body Resets --*/
body {
   background: #F5F5F5;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 1.1rem;
   color: #5b5b5b;
}

/*-- Option: Add Extra Bootstrap Column Padding --*/
[class*="col-"] {
   padding: 1rem;
 }

/*-- Remove Blue Browser Outline Around Buttons in Chrome --*/
a:focus,
button:focus {
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/*-- Pointer Cursor On Links & Buttons --*/
a, .btn, button {
   cursor: pointer!important;
}

/*-- Max-width Container For Elements
other than navbar, carousel, banner & footer --*/
.wrapper {
	max-width: 1120px;
   margin: 0 auto;
   padding: 0 .5rem;
   overflow: hidden;
}

/*-- Headings --*/
h1 {
	text-align: center;
	font-size: 175%;
	color: #5b5b5b;
	text-transform: uppercase;
	letter-spacing: .1rem;
	padding: .6rem 0;
}
h2, h3, h4 {
	text-align: center;
	color: #5b5b5b;
	text-transform: uppercase;
}
h5 {
   font-weight: 700;
}

/*-- Remove Link Color/Underline from Phone #s --*/
a {
   color: #5b5b5b;
}
a:hover {
   color: #5b5b5b;
   text-decoration: none;
}

/*-- Text Colors --*/
.text-gray {
   color: #5b5b5b;
}

/*-- Buttons --*/
.btn {
   border-width: medium;
   padding: .6rem 1.2rem;
   margin: .5rem;
   box-shadow: 0 0 .5rem rgba(0, 0, 0, .08);
   transition: all .3s ease;
 }
.btn-red {
   border-color: #0460D9;
   background-color: #0460D9;
   color: white;
 }
.btn-red:hover,
.btn-red:focus  {
   border-color: #E97F78;
   background-color: #E97F78;
   color: white;
}
.btn-gray {
   border-color: #5b5b5b;
   background-color: #5b5b5b;
   color: white;
}
.btn-gray:hover,
.btn-gray:focus  {
   border-color: #8c8c8c;
   background-color: #8c8c8c;
   color: white;
}

/*-- Background Colors --*/
.bg-red {
   background-color: rgba(226, 98, 85, .6);
   color: #5b5b5b;
   box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
 }
.bg-clear {
   background-color: rgba(255, 255, 255, .8);
   color: #5b5b5b;
   box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}
.bg-gray {
   background-color: rgba(91, 91, 91, .8);
   color: white;
   box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

/*-- Center All Images & Set Max Width --*/
img {
   display: block;
	margin: 0 auto;
   max-width: 100%;
}

/*============= HEADER =============*/

/*-- Callout Social Icons --*/
.callout .social-center {
   padding-bottom: .5rem;
   margin: 0 auto;
   max-width: 8rem;
   text-align: center;
}
.callout ul.social {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
}
.callout ul.social li {
   display: inline;
}
.callout .svg-inline--fa {
   color: #0460D9;
   font-size: 2rem;
   margin: 0 .2rem;
   transition: all 0.5s ease 0s;
   box-shadow: 0 0 .15rem rgba(0, 0, 0, .1);
}
.callout .svg-inline--fa {
   color: #5b5b5b;
   font-size: 1.65rem;
   margin-right: 0;
}
.callout .svg-inline--fa:hover {
   color: #E97F78;
}

/*-- Callout Phone # --*/
.callout p {
   font-size: 1.15rem;
	text-align: center;
	color: #6DA7F2;
}

/*============= NAVIGATION =============*/

.navbar-brand img {
   height: 2rem;
   margin-left: 50px;
}
#clearNav {
   background-color:rgb(65,142,242);
}
.navbar {
   padding: .2rem 0;
   font-size: 1.1rem;
   font-weight: 500;
   letter-spacing: .1rem;
   min-height: 3.3rem;
   transition: background-color 1s ease 0s;
   text-align: center;
}
.navbar .container {
   max-width: 100%;
   text-align: center;
}
.navbar-nav .nav-link {
   color: white;
   text-shadow: 0 0 .05rem white;
   border-top: .15rem solid transparent;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
   text-decoration: underline;
   color: whitesmoke!important;

}
.navbar.solid {
   background: rgb(65,142,242)
   transition: background-color 0s ease 0s;
   justify-content: right;
 }
 .navbar.solid .navbar-nav.ml-auto .nav-link.active,
 .navbar.solid .navbar-nav.ml-auto .nav-link:hover {
   border-top: .15rem solid #444!important;
 }
.svg-inline--fa.fa-bars {
   color: #5b5b5b;
   font-size: 1.7rem;
}

/*-- Drop-down Menu --*/
.dropdown-menu, .dropdown-item {
   font-size: 1.1rem;
   background-color: #D3D3D3;
   border: 0;
   color: #5b5b5b;
   text-align: center;
   padding: 0;
}
.dropdown-menu {
   background-color: #fff!important;
   margin-top: 0!important;
   border-radius: 0;
   z-index: 1000;
}
.dropdown-menu:hover, .dropdown-item:hover,
.dropdown-menu:focus, .dropdown-item:focus,
.dropdown-toggle:active, .dropdown-toggle:focus {
   color: #5b5b5b!important;
   background-color: #D3D3D3;
}
.dropdown-item {
   padding: .3rem 0!important;
}
.dropdown-item:hover {
   text-decoration: underline;
}
.dropdown-submenu > .dropdown-menu {
   width: 100%;
   z-index: 1000;
}

/*============= CAROUSEL IMAGE SLIDER =============*/

.carousel-inner {
   max-height: 35rem!important;
   box-shadow: 0 .65rem .65rem .1rem rgba(0, 0, 0, .15);
}
.carousel-inner img {
  min-width: 100%;
}

/*-- Change Carousel Transition Speed --*/
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  transition: -webkit-transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease,-webkit-transform 1.2s ease;
}

/*-- Carousel Previous & Next Buttons --*/
.carousel-control-prev,
.carousel-control-next {
  width: 8%;
  cursor: pointer!important;
}
.carousel-control-next {
   padding-right: 3.2rem!important;
}
.carousel-control-prev .svg-inline--fa,
.carousel-control-next .svg-inline--fa {
  position: absolute;
  font-size: 2.5rem!important;
  padding: .2rem .3rem;
  color: #F5F5F5;
  background-color: #5B5B5B;
  opacity: .6;
  transition: all .5s ease;
}
.carousel-control-prev .svg-inline--fa:hover,
.carousel-control-next .svg-inline--fa:hover {
  color: #F5F5F5;
  background-color: #5B5B5B;
  box-shadow: 0 0 .65rem rgba(0, 0, 0, .15);
  opacity: 1;
  cursor: pointer;
  transition: all .5s ease;
}

/*-- Make Carousel Prev/Next Visible on hover --*/
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s linear 1000s, opacity 1000ms;
}
.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
   visibility: visible !important;
   opacity: 1;
   transition: visibility 0s linear 0s, opacity 1000ms;
}

/*-- Carousel Caption --*/
.carousel-caption {
   left: 12%;
   right: 12%;
   position: absolute;
   transform: translateY(-50%);
   top: 45%;
 }
 .carousel-caption.text-left,
 .carousel-caption.text-right {
   top: 41%;
 }

 .cfix {
    align-items: center;
 }


/*============= PAGE TEXT & IMGs =============*/

p.lead {
   font-size: 1.1rem;
}
img.round {
   border-radius: 50%;
   box-shadow: 0 0 .65rem rgba(0, 0, 0, .1);
   height: 300px;
   width: 300px;
}
.callout-border {
   border: .15rem solid #0460D9;
   box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
   border-radius: .3rem;
}

/*============= FOOTER =============*/

.footer {
   background-color: #D3D3D3;
   box-shadow: 0 0 .8rem .1rem rgba(0, 0, 0, .08);
}
.footer h3 {
   font-size: 1.5rem;
   text-decoration: underline;
   padding-bottom: 1rem;
}
.footer img { /*-- (logo) --*/
   max-width: 15rem;
   padding-bottom: .5rem;
}

/*-- Social Icons --*/
.footer .social-center {
   max-width: 14rem;
   padding-bottom: 1rem;
}
ul.social {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
ul.social li {
   display: inline;
}
.footer ul.social li {
   display: inline;
   padding: .5rem .5rem;
}
.footer .svg-inline--fa {
   color: #0460D9;
   font-size: 2rem;
   transition: all 0.5s ease 0s;
   box-shadow: 0 0 .1rem rgba(0, 0, 0, .1);
}
.footer .svg-inline--fa:hover {
   color: #E97F78;
}

/*-- Google Maps --*/
.google-maps {
	position: relative;
   padding-bottom: 75%;
   height: 0;
   overflow: hidden;
   box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
}
.google-maps iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100% !important;
   height: 100% !important;
}

/*-- Top Scroll Button --*/

.scroll-container {
   width: 2.2rem;
   float: right;
}
.top-scroll svg.svg-inline--fa {
   font-size: 1.6rem!important;
   height: 2rem;
   width: 2.5rem;
   color: #5B5B5B;
   background-color: white;
   box-shadow: 0 0 .5rem rgba(0, 0, 0, .05);
   transition: all .5s ease;
 }
 a.top-scroll {
   bottom: 1.2rem;
   position: fixed;
   opacity: .3;
   z-index: 1000;
   display: none;
 }
 a.top-scroll:hover {
   opacity: .9;
   transition: all .5s ease;
 }
 
/*============= ABOUT PAGE =============*/

.banner-pages {
   position: relative;
   max-height: 19rem;
   overflow: hidden;
   box-shadow: 0 .65rem .65rem .1rem rgba(0, 0, 0, .15);
}
.banner-pages img {
   min-width: 100%;
}
.banner-pages h1 {
   position: absolute;
   z-index: 1;
   left: 28%;
   top: 25%;
   font-size: 2.5rem;
   font-weight: 700;
   text-shadow: 0 0 .2rem #fff;
}
.banner-pages h1.text-light {
   text-shadow: 0 0 .2rem #000;
}

/*-- List Item Box --*/
.list-group {
   box-shadow: 0 0 .65rem rgba(0, 0, 0, .1);
}
.list-group li {
   background-color: #FDF7F7;
   text-align: center;
   padding: .4rem;
   color: #5b5b5b;
   font-size: 1.25rem;
   font-weight: 300;
   letter-spacing: .1rem;
}
hr.border-red {
   max-width: 96%;
   margin: 1rem auto;
   border-top: .15rem solid #0460D9;
   border-radius: 20%;
   box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
}
.card {
   box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
   background-color: #F5F5F5;
   border-radius: .5rem;
}
.card-img-top {
   border-radius: .5rem .5rem 0 0;
   box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .05);
}

/*============= SERVICES PAGE =============*/

.counter-wrapper {
   max-width: 23rem;
}
.custom-counter {
   list-style-type: none;
}
.custom-counter li {
   counter-increment: step-counter;
   padding: .7rem;
}
.custom-counter li::before {
   content: counter(step-counter);
   margin-right: .7rem;
   background: #0460D9;
   color: #fefbef;
   font-weight: bold;
   padding: .2rem .6rem;
   border-radius: .15rem;
}

/*============= TESTIMONIALS PAGE =============*/

/*============= CONTACT PAGE =============*/

/*-- Contact Form --*/
.form-group {
   margin-bottom: 1.3rem;
   box-shadow: 0 0 .4rem rgba(0, 0, 0, .05);
}
.form-control {
   background: #F5F5F5;
   border-radius: .3rem;
   border: .15rem solid #5b5b5b;
   color: #5b5b5b!important;
   font-size: 1.1rem;
}
.form-control:focus {
   background: #F5F5F5;
   border: .15rem solid #0460D9;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
   color: #8E7A6D;
}
input.btn {
   float: right;
}
.controls input:focus,
.controls textarea:focus { /*-- Remove Element Outlines in Contact Form --*/
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/*============= MEDIA QUERIES =============*/

/* Large (lg) devices (desktops, 992px and under) */
@media (max-width: 991.98px) {
   .navbar {
      padding: .25rem 5rem;
   }
   .navbar-nav .nav-link {
      font-size: 1.3rem;
   }
   .carousel-caption h2 {
      font-size: 1.7rem;
   }
   .banner-pages h1 {
      font-size: 2.2rem;
   }
   #reviews-carousel .owl-carousel .owl-nav button.owl-prev,
   #reviews-carousel .owl-carousel .owl-nav button.owl-next {
     display: none!important;
   }
}

/* Medium (md) devices (tablets, 768px and under) */
@media (max-width: 767.98px) {
   header img {
      max-width: 20rem;
   }
   .navbar-nav .nav-link {
      font-size: 1.2rem;
   }
   .dropdown-menu, .dropdown-item {
      font-size: 1rem;
    }
   .carousel-caption {
      top:38%;
   }
   .carousel-caption h2 {
      font-size: 1.5rem;
   }
   .btn {
      padding: .45rem 1rem;
   }
   p.lead {
      font-size: 1.05rem;
   }
   .banner-pages h1 {
      left: 25%!important;
      top: 20%!important;
      font-size: 1.9rem;
   }
   .navbar {
      text-align: right;
   }
   .navbar .container {
      text-align: right;
   }
   #reviews-carousel .owl-carousel .owl-nav button.owl-prev,
   #reviews-carousel .owl-carousel .owl-nav button.owl-next {
     display: none!important;
   }
}

/* Small (sm) devices (landscape phones, 576px and under) */
@media (max-width: 575.98px) {
   .navbar {
      padding: .2rem 0;
   }
   .navbar-toggler {
      width: 100%;
   }
   .custom-toggler-icon {
      float: right;
      padding-right: 2rem;
   }
   .carousel-caption {
      top:32%!important;
   }
   .carousel-caption h2 {
      font-size: 1.3rem;
   }
   .btn {
      padding: .4rem .9rem;
   }
   .banner-pages h1 {
      left: 16%!important;
      top: 15%!important;
      font-size: 1.5rem;
      letter-spacing: .03rem;
   }
   .navbar {
      text-align: center;
   }
   .navbar .container {
      text-align: center;
   }
   #reviews-carousel .owl-carousel .owl-nav button.owl-prev,
   #reviews-carousel .owl-carousel .owl-nav button.owl-next {
     display: none!important;
   }
   
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/


/*============= WAYPOINTS =============*/

/*-- OPTION: TURN OFF ANIMATION OFF COMPLETELY::
Note: may effect line progress bar with slight delay,
line-progressbar waypoints can be adjusted at bottom of plugins.js.--*/


/* remove this CSS comment to activate

.animated, .os-animation {
  -webkit-animation: none!important;
  -moz-animation: none!important;
  -o-animation: none!important;
  animation: none!important;
  opacity: 1!important;
  -webkit-animation-delay: none !important;
  -moz-animation-delay: none !important;
  animation-delay: none !important;
  }

*/

/*-- OPTION: TURN OFF ANIMATION ON MOBILE::
Note: may effect line progress bar with slight delay,
line-progressbar waypoints can be adjusted at bottom of plugins.js.--*/


/* remove this CSS comment to activate

@media (max-width: 767px) {
	.animated, .os-animation {
	  -webkit-animation: none!important;
	  -moz-animation: none!important;
	  -o-animation: none!important;
	  animation: none!important;
	  opacity: 1!important;
	  -webkit-animation-delay: none !important;
	  -moz-animation-delay: none !important;
	  animation-delay: none !important;
	  }
	}

*/


/*-- Prevent WayPoints from Browser Window Scrolling On Mobile --*/
/* Devices under 768px (md) */
@media (max-width: 767px) {
   .row {
     overflow-x: hidden;
     overflow-y: hidden;
   }
}
 
/*-- Don't modify waypoints CSS below,
this is required for waypoints to work --*/
.os-animation{
   opacity: 0;
   margin: 0!important;
   max-width: 100%;
}
.os-animation.animated {
   opacity: 1;
}
 
/*Fix maps scroll issue*/
.scrolloff {
   pointer-events: none;
}

/*============= REVIEWS =============*/

.parallax-reviews {
   margin: 0;
   padding: 0!important;
 }
.parallax-reviews .container-fluid {
   margin: 0!important;
   padding: 0!important;
 }
.half-col-container-first {
   max-width: 550px;
   text-align: center;
 }
 .review-text {
   background-color: rgba(255, 255, 255, .85);
   border-radius: .5rem;
   margin-bottom: 1.5rem;
   padding: 1rem;
 }
 .bg-reviews {
   background-color: rgba(255, 255, 255, .92);
 }
 .half-col-container {
   max-width: 576px;
   text-align: center;
 }
 
 /*-- Reviews Carousel --*/
 #reviews-carousel .owl-carousel .owl-nav {
   position: absolute;
   top: 45%;
   min-width: 100%!important;
   max-width: 100%!important;
 }
 #reviews-carousel .owl-carousel .owl-nav button.owl-prev {
   position: absolute;
   left: 0!important;
   padding: .4rem 1rem!important;
   border: .1rem solid black;
   font-size: 1.3rem!important;
   color: black;
   opacity: .7;
 }
 #reviews-carousel .owl-carousel .owl-nav button.owl-next {
   position: absolute;
   right: 0!important;
   padding: .4rem 1rem!important;
   border: .1rem solid black;
   font-size: 1.3rem!important;
   color: black;
   opacity: .7;
 }
 #reviews-carousel .owl-carousel .owl-nav button.owl-prev:hover,
 #reviews-carousel .owl-carousel .owl-nav button.owl-next:hover {
   color: white;
   background-color: black;
 }
 
 /*-- Reviews Carousel Content --*/
 #reviews-carousel img {
  margin: 0 auto 1rem;
  min-width: 200px;
  max-width: 400px;
 }
 .review-separator {
   margin: 1rem auto;
   width: 13rem;
   height: .05rem;
   background-color: #6FABCF;
 }

 /*============= UNIVERSAL PARALLAX PLUGIN CSS =============*/

.parallax-container {
   -webkit-align-items: center;
   align-items: center;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin: 0;
   padding: 15px;
   position: relative;
   width: 100%
 }
 .parallax-container .parallax-content {
   margin: 0 auto;
   width: 100%;
 }
 .parallax__container {
   clip: rect(0, auto, auto, 0);
   height: 100%;
   left: 0;
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: -100
 }
 .parallax__container .parallax {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: fixed;
   top: 0;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   width: 100%
 }
 
 
 /*-- Fix maps scroll issue --*/
 .scrolloff {
   pointer-events: none;
 }
 
 /*-- Parallax Map Height Adjustment Queries --*/
 @media (max-width: 715px) {
   .parallax-map {
     max-height: 318px;
     min-height: 318px;
   }
   .parallax-map .container-fluid {
     max-height: 318px!important;
   }
   .responsive-map iframe {
     min-height: 318px;
     max-height: 318px;
   }
 }
 @media (max-width: 610px) {
   .parallax-map {
     max-height: 280px;
     min-height: 280px;
   }
   .parallax-map .container-fluid {
     max-height: 280px!important;
   }
   .responsive-map iframe {
     min-height: 280px;
     max-height: 280px;
     max-width: 400px;
   }
 }
 @media (max-width: 510px) {
   .parallax-map {
     max-height: 230px;
     min-height: 230px;
   }
   .parallax-map .container-fluid {
     max-height: 230px!important;
   }
   .responsive-map iframe {
     min-height: 230px;
     max-height: 230px;
     max-width: 350px;
   }
 }
 @media (max-width: 420px) {
   .parallax-map {
     max-height: 190px;
     min-height: 190px;
   }
   .parallax-map .container-fluid {
     max-height: 190px!important;
   }
   .responsive-map iframe {
     min-height: 190px;
     max-height: 190px;
     max-width: 340px;
   }
 }
 
 
 /*--- Bootstrap Mobile Gutter Fix --*/
 .row, .container-fluid {
   margin-left: 0px!important;
   margin-right: 0px!important;
 }